/* CSS reset */

* {
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
ol,
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* style */

/* 媒体查询 */
@media (min-width: 500px) {
    /* PC端媒体  500px以下的不负责 */
    .searchForm {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .siteList {
        margin-right: -25px;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .globalMain {
        max-width: 900px;
    }
    .globalHeader {
        margin: 120px 0 80px;
    }
    .siteList .site .delete {
        display: none;
        cursor: default;
    }
    .siteList .site:hover .delete {
        display: block;
    }
    .siteList > li {
        margin-right: 25px;
    }
}

@media (max-width: 500px) {
    /* 手机端媒体 500px以上的不负责 */
    .searchForm {
        max-width: 400px;
    }
    .siteList {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .globalHeader {
        margin: 20px;
    }
}

body {
    background-color: #eee;
    /* 当给body设置背景色时 颜色会自动扩充到整个页面上 */
}

.bcg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1; /* 缩放属性 */
    background-color: rgb(255, 255, 255);
    background-image: url(./img/bcg.jpg);
    background-repeat: no-repeat; /* 设置背景图片 平铺 */
    background-size: cover; /* 设置背景图片大小 拉伸 */
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

.searchForm {
    display: flex;
    justify-content: space-between;
}

.globalMain {
    margin-left: auto;
    margin-right: auto;
}

.searchForm > input {
    width: 100%;
    height: 40px;
    margin-right: 10px;
    padding: 0 10px;
    border-radius: 4px;
    border: solid 1px #dddddd;
}
.searchForm > button {
    white-space: nowrap;
    padding: 0 24px;
    background: #0091be;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    line-height: 38px;
}

.siteList {
    display: flex;
    flex-wrap: wrap;
}

.siteList .site {
    width: 160px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(119, 193, 222);
    background: linear-gradient(
        180deg,
        rgba(119, 193, 222, 1) 0%,
        rgba(205, 236, 251, 1) 49%,
        rgba(205, 236, 251, 1) 51%,
        rgba(255, 255, 255, 1) 100%
    );
    margin-bottom: 10px;
    border-radius: 4px;
    position: relative;
}

.siteList .site > .delete {
    position: absolute;
    right: 3px;
    top: 0;
}

.siteList .site > .logo {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    text-transform: uppercase;
}
.siteList .site > .link {
    padding-top: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}
.siteList .addButton {
    width: 160px;
    padding: 25px 0;
    background: rgb(119, 193, 222);
    background: linear-gradient(
        180deg,
        rgba(119, 193, 222, 1) 0%,
        rgba(205, 236, 251, 1) 49%,
        rgba(205, 236, 251, 1) 51%,
        rgba(255, 255, 255, 1) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.siteList .addButton .icon {
    width: 56px;
    height: 56px;
}
.siteList .addButton .text {
    padding-top: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}
.siteList .addButton .iconWrapper {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
